[2014-12-02 15:04] Keridos opened #14 "Feature: IGWMod Support"
Add in support for IGWMod for easier access of mod related info ingame.

[2014-12-03 22:45] Keridos opened #15 "Feature: Waila Support"
Show the mode and invert state of the lights in the tooltip from Waila.

[2014-12-05 13:23] Keridos opened #16 "Feature: Version Checker Support"
Add in support for the Version Checker Mod.

[2014-12-05 13:28] Keridos opened #17 "Feature: New smaller lamp"
A lamp that can be mounted on the ceiling/wall/ground that uses energy but places a few phantomlights only. Basically a more powerful and good looking torch.

- [x] Add in at least 2 models
- [x] make the tile entity work
- [x] create basic block for it
- [x] implement messaging NBT data to client for rendering
- [x] finalize rendering (rotating, different models etc.)
- [x] update block to make w

[2014-12-05 14:40] Keridos opened #19 "Command to clear light block tracker"
Implement a command to clear the tracker to clean buggy lights. Since the lamps autoupdate every 20-40 seconds the correct lights should reappear within maybe 1 or 2 minutes.

[2014-12-06 01:15] Keridos opened #20 "Improvement: Carbon Fuel"
Add support for charcoal and coal including coal blocks. Maybe even coal powder from other mods or more fuel options. Potentially even liquid fuel?

[2015-01-23 03:01] Keridos opened #21 "Feature Request: NEI Integration and Tooltip"
As the title states.
For now I will just blacklist the phantomlight block in NEI.

[2015-04-20 12:42] Keridos opened #22 "Carbon Floodlights GUI broken partially if reloading save."

[2015-04-20 14:52] Keridos opened #23 "Floodlights invisible in certain scenarios"
When not near other blocks the floodlights get invisible.

[2015-04-20 15:34] #14 closed

[2015-04-20 16:07] #15 closed

[2015-04-20 16:07] #16 closed

[2015-04-20 16:07] #19 closed

[2015-04-20 16:07] #20 closed

[2015-04-20 16:07] #21 closed

[2015-04-20 16:07] #23 closed

[2015-04-21 11:30] Xottab-DUTY opened #25 "Add missing localization"
There is some text, that defined directly in the code. Can you move that text to the localization files?

P.S.: Text like: "Time remaining: 0m0sec", "Mode: Straight/Cone Narrow/Cone Wide", "Inverted: true/false"

[2015-04-21 12:46] Keridos commented on #25
Gonna do that soonish, just need to figure out a way to do that

[2015-04-21 13:08] Xottab-DUTY commented on #25
Ok!

[2015-04-21 13:21] Keridos commented on #25
I let the time be displayed as 0m0s ok?

[2015-04-21 13:24] Xottab-DUTY commented on #25
In principle, this is not important, but it would be nice if I could translate this text. (minutes and seconds to russian words) :smiley:

[2015-04-21 13:39] Keridos commented on #25
problem with words would simply be too long for the GUI.

[2015-04-21 13:41] Xottab-DUTY commented on #25
m&s to russian m&s maybe then? :D

[2015-04-21 13:42] Keridos commented on #25
That would be ok, I am gonna add this in too, the commit should be popping up soonish.

[2015-04-21 13:45] Xottab-DUTY commented on #25
Ok!

[2015-04-21 13:48] Keridos commented on #25
Its ready now!

[2015-04-21 13:50] #25 closed

[2015-05-02 03:49] RagaRBM opened #30 "Crash when viewing Pause Menu"
So here is the crash log : http://pastebin.com/QF4P2kL1

My modlist :
Enchiridion-1.7.X-1.2b.jar
fastcraft-1.21.jar
Pam's HarvestCraft 1.7.10h.jar
BuildcraftAdditions-1.7.10-2.1.2.jar
Mariculture-Deluxe-1.7.10-1.2.4.2a.jar
plantmegapack-4.17-1.7.10-1230.jar
Ganys Surface-1.11.0.jar
Railcraft_1.7.10-9.6.1.0.jar
CodeChickenCore-1.7.10-1.0.6.43-universal.jar
Eureka-1.7.10-3.0.2.jar
buildcraft-6.4.14.

[2015-05-05 04:12] Keridos commented on #30
Update your Java to version 7 or 8, you are still using a really really old version.

[2015-05-05 04:12] #30 closed

[2015-05-06 07:12] Keridos commented on #17
- [x] Add in at least 2 models
- [x] make the tile entity work
- [x] create basic block for it
- [ ] Make rotating it work

[2015-05-06 09:37] #22 closed

[2015-05-08 06:43] Keridos opened #31 "Feature Request: GregTech 5 Energy Support"
from chloeprince on curseforge.

[2015-05-08 06:44] Keridos opened #32 "Feature Request: Creative Tab"
Also from chloeprince.

[2015-05-20 21:19] Keridos opened #33 "Test!"

[2015-05-20 21:20] Keridos commented on #33
test2

[2015-05-20 21:54] #33 closed

[2015-05-23 14:39] #32 closed

[2015-06-19 22:03] mercsniper opened #34 "Issue with NEI"
Trying to run a server and I receive this message:

[code]---- Minecraft Crash Report ----
// Shall we play a game?

Time: 6/19/15 5:49 PM
Description: Exception in server tick loop

cpw.mods.fml.common.LoaderException: java.lang.NoClassDefFoundError: codechicken/nei/api/API
        at cpw.mods.fml.common.LoadController.transition(LoadController.java:163)
        at cpw.mods.fml.common.Loader.init

[2015-06-19 22:24] #34 closed

[2015-07-14 13:56] #31 closed

[2015-07-15 03:35] #17 closed

[2015-07-20 22:13] blockbreaker1361 opened #38 "IGW-Mod using wrong subfolder when viewing block from different mod"
I'm not getting any info on the IGW mod. Here is pic for proof. Both mods are latest versions.
http://imgur.com/Zeki5E5

[2015-07-20 22:14] Keridos commented on #38
Update your igwmod, I think you use an old version of it.

[2015-07-20 22:15] blockbreaker1361 commented on #38
I'm using latest version of both mods.

[2015-07-20 22:52] Keridos commented on #38
This seeems to be caused by IGWmod.

[2015-07-26 00:37] Keridos commented on #38
Is fixed in igwmod 1.1.7-26. Also updated igwmod compatability again, so everything runs smooth with the new version.

[2015-07-26 00:37] #38 closed

[2015-08-10 18:31] BBoldt opened #39 "Server crash on world start"
https://gist.github.com/60ee00834307fb32676a

[2015-08-10 19:43] Keridos commented on #39
Try the newest build from the curseforge page please.

[2015-08-10 22:52] BBoldt commented on #39
It's in the crashlog:

FloodLights{0.6.3-87} [Flood Lights] (FloodLights-1.7.10-0.6.3-87.jar)

[2015-08-10 22:53] BBoldt commented on #39
I'll try the new version and get back to you

[2015-08-10 23:08] Keridos commented on #39
I know that it is in the logs, but it is far easier for the mod makers if you just write the used version in the issue so we do not have to search for that in the logfiles.

[2015-08-10 23:10] BBoldt commented on #39
Sorry.

Anyways, latest version solves this issue.

[2015-08-10 23:11] Keridos commented on #39
Glad to hear that, have fun!
And btw. no need to say sorry, would just be nice, if you considered doing that next time :)

[2015-08-11 02:21] BBoldt commented on #39
@Keridos

A user is getting the same issue again, on server startup: http://pastebin.com/8GyceatR

FloodLights-1.7.10-0.6.5-90.jar

[2015-08-11 11:53] Keridos commented on #39
Try this please: https://www.ironhide.de/jenkins/job/FloodLights/lastSuccessfulBuild/artifact/build/libs/FloodLights-1.7.10-0.6.6-91.jar

[2015-08-17 19:28] Forecaster opened #40 "Lamps keep using power"
The lamps (small & square) appear to continuously use as much power (EU) as they can even when their buffer is full.

I had two of them drain my CESU and keep eating up all the power my turbine produced (it was working at about 20%, so it was producing around 40 EU/t).

[2015-08-17 19:52] Keridos commented on #40
Gonna check that.

[2015-08-20 00:09] #40 closed

[2015-08-20 00:10] #39 closed

[2015-08-20 00:10] Keridos opened #42 "New UV lamp"
Lamp that damages entities when turned on.

[2015-08-20 00:11] Keridos opened #43 "Energy container charging for lights."

[2015-08-20 00:11] #43 closed

[2015-09-08 20:08] Forecaster opened #44 "Energy usage broken in release version"
You fixed it in experimental I believe, but then you added some fix to the release and had be switch to that, so now energy usage is broken again and the lights use way way more power than they should.

I had to remove the single light that was on the power line to my ore processing setup because it prevented the ore processing machines from getting enough power.

[2015-09-08 22:26] mskurnik opened #45 "Lag spikes on saving: Completely rework the background system for lighting!"
We are experiencing issue with lag spikes on my server and they seem to be related to the `saveToDisk()` method in the `DiskIO` class.  We have about 50 flood lights in chunk loaded areas around the server.  After hours of investigation with VisualVM and finally finding the [sampler](http://forum.industrial-craft.net/index.php?page=Thread&threadID=10820&pageNo=1&s=9675424587e9219d49eb638190467f928

[2015-09-08 22:36] Keridos commented on #44
That is weird, both branches should have the proper energy usage thingies, gonna check that.

[2015-09-08 22:39] Keridos commented on #45
This is weird, gonna look into that, never noticed that before.

[2015-09-09 00:21] mskurnik commented on #45
Yeah it seemed odd.  I am not sure if you know of any issues with other mods or not but below is a list of mods that I have on my server.  I can also send you my `sav` file if you have a way to read it outside of the game as it seems to just be your LightHandler object stored as a file so I have no way of reading it outside of a Java IDE.

[1.7.2+] KingCore v3.4.2.19.jar
ae2stuff-0.4.3.47-mc1.7.10

[2015-09-09 09:17] Forecaster commented on #44
Maybe I have the wrong version...

I'll have to verify that when I get home.

[2015-09-09 10:54] Keridos commented on #45
I think the issue is just because I have an odd, overengineered system. Gonna make the lighting system completely revamped in version 1.0.0

[2015-09-09 12:17] mskurnik commented on #45
In the meantime, do you think if I shut off all of the lights, let all the invisible light blocks despawn, shut down the server, and then delete the sav file it would at least improve my situation?

[2015-09-09 12:23] Keridos commented on #45
you can use a slightly older version that has the bugged system where the lights do not get saved properly, just do not try to modify the lighting during that time as it might rarely produce bugged lights with that versions.

[2015-09-09 14:54] Keridos commented on #45
Update @mskurnik if you want you can beta test the new lighting system here: https://www.ironhide.de/jenkins/job/FloodLights-dev/22/
It should result in no random lagspikes anymore. Though turning off or on a lot of lights at the same time will lag your client/server for a couple of seconds maybe. Also they are a lot more responsive.

[2015-09-09 18:51] Forecaster commented on #44
I have build 96 of non-dev floodlights.

[2015-09-09 19:09] Keridos commented on #44
Try the Dev version, it should have all the fixes included and an additional fix, the whole complicated lighting code is gone. Lights are now way faster, less random lagspikes and overhead. And you can place cells in them.

[2015-09-09 21:07] mskurnik commented on #45
OK.  So I grabbed 1.0.0-23 off of Jenkins and my spikes immediately went away!  Yay!  However, another admin on the server decided to use a wrench to disable his lights by wrenching the thermal dynamics duct to the lights so they wouldn't be connected.  I started to go around and reconnect the duct in creative mode and I noticed that a GUI opens up when I right click the floodlights with a duct.

[2015-09-09 21:17] mskurnik commented on #45
I am reverting to the backup prior to me putting something into the item slot and will reconnect the ducts once again.  Hopefully it wont crash (as long as I don't put anything in there) and then you can work on disabling that GUI :).  Thank you for being so responsive with this bug.  It really sucked having the world freeze every 45-60 seconds.

[2015-09-09 21:39] mskurnik commented on #45
Nope.  It crashed again without ever once opening the GUI.  I am going to revert back to the buggy version for now.

[2015-09-09 23:44] Keridos commented on #44
Fixed it now, also I think I found the issue with the EU-Reader. Mine is showing normal values now.

[2015-09-09 23:44] #44 closed

[2015-09-10 01:52] mskurnik commented on #45
OK.  I ended up using worldedit to replace the lights with sponge and then respawning them.  The server seems a lot better now and the lights file is half of what it was before.  I guess there was a glitched light.

[2015-09-10 02:38] Keridos commented on #45
The crash should absolutely not happen, I mean literally the crash that happened there was:
I create a block of light at the coordinates. then I grab the tileentity for that light from the exact same coordinates and try to run a command on it. This should NEVER even give a Nullpointerexception.
Weird stuff.

[2015-09-10 11:16] Keridos commented on #45
Can you try it with the newest version from the jenkins please, if the crash still occurs I need to add in a null check there. But I think that some Mod is interfering with the lights there.

[2015-09-10 11:18] mskurnik commented on #45
I haven't gotten the crash since I removed and re-added the lights in a certain area.  I think one of the lights was just bugged somehow.

[2015-09-10 11:40] Keridos commented on #45
Ah ok, so the new version works now?

[2015-09-11 23:37] mskurnik commented on #45
It works now but I did have to use world edit to fix the crashing lights.

[2015-09-11 23:37] #45 closed

[2015-09-11 23:54] Keridos commented on #45
I also pushed a commit that fixes the crash you had. That crash could happen when the lights were for some reason not properly creating. This should check if the light has been created and only then try to modify it.

[2015-09-12 00:19] mskurnik opened #47 "Camouflage ignoring block sub ids"
When you right click on a base to add a disguise, the base ignores the sub I'd of the block in your hand. For example attempting to use a block with ID 999:4 ends up inserting ID 999:0. I am not at the computer right now but it at least happens with third party blocks such as railcraft quarried blocks and natura blocks.  I have not tested with vanilla blocks.

[2015-09-12 11:03] Keridos commented on #47
This is the wrong mod :P

[2015-09-12 11:03] #47 closed

[2015-09-16 00:03] mskurnik commented on #47
Well I feel like a derp.  Sorry about that.

[2015-09-16 00:54] Keridos commented on #47
No Problem :)

[2015-09-16 00:55] #42 closed

[2015-09-16 00:55] Keridos opened #48 "Feature Request: Cooldown for reactivating lights."

[2015-09-16 03:40] #48 closed

[2015-09-16 06:46] mskurnik opened #49 "Ticking block entity crash when right clicking flood lights with a wrench"
Right clicking a flood light can cause the client to hard crash and sometimes the server will get corrupted:

	at net.minecraft.server.MinecraftServer.func_71217_p(MinecraftServer.java:547) ~[MinecraftServer.class:?]
	at net.minecraft.server.MinecraftServer.run(MinecraftServer.java:427) [MinecraftServer.class:?]
	at net.minecraft.server.MinecraftServer$2.run(MinecraftServer.java:685) [li.class:?]

[2015-09-16 14:29] Keridos commented on #49
Which build from the Jenkins is that?

[2015-09-16 14:30] mskurnik commented on #49
FloodLights-1.7.10-1.0.0-25

[2015-09-16 14:31] Keridos commented on #49
Try the latest please, I am fairly sure this is the same crash that already got reported and fixed a few versions ago. https://www.ironhide.de/jenkins/job/FloodLights-dev/

[2015-09-16 14:32] #49 closed

[2015-09-16 14:58] mskurnik commented on #49
Yeah.  I just loaded up the corrupted world with the latest dev build and it worked.  Thanks.

[2015-09-16 15:13] Keridos commented on #49
Ah ok then the crash was not hard corruption, it was just the floodlight trying the non working thing over and over again.

[2015-09-16 21:59] mskurnik opened #50 "TileEntityElectricFloodlight causing 1100ms+ TPS spikes and 22 second can't keep ups on the server"
After getting 22 seconds worth of constant can't keep ups, I used the VisualVM tool to check what was causing the lag.  The entries below are causing an insane amount of lag

de.keridos.floodlights.tileentity.TileEntityElectricFloodlight.addSource()	16.666641	217 ms (16.7%)	57

[2015-09-16 21:59] Keridos commented on #50
I think I encountered this issue in my local environment as well, already working on a fix for this.

[2015-09-16 22:28] Keridos commented on #50
Test this build please: https://www.ironhide.de/jenkins/job/FloodLights/107/

[2015-09-16 22:49] mskurnik commented on #50
Well I just put 107 on there and that seemed to fix it.  I'll update to 108 later tonight.  Thanks!

[2015-09-16 22:49] #50 closed

[2015-09-17 06:33] spannerman79 opened #51 "[Enhancement] Debug option to trace down buggy "light" entities"
Forge 1448
[FloodLights-1.7.10-1.0.1-110.jar](http://minecraft.curseforge.com/mc-mods/224728-floodlights/files/2257273)

Perhaps an item (only available via Creative tab) that can be used to actually see the light "entities" to track down possible mod conflicts or lightning conflicts

See screenshot for example
![2015-09-17_16 26 04](https://cloud.githubusercontent.com/assets/7542384/9926518/7daaa

[2015-09-17 12:16] Keridos commented on #51
Which mode was the light on?

[2015-09-17 12:35] spannerman79 commented on #51
I will when its not so late for me (I'm UTC+10 - 10.30pm )

And i tried both cone modes (narrow and wide) - both have similar effects in different areas where there was no floodlight in the area (i moved 30 chunks away for each one)

The only way i can "destroy" those rogue light sources is placing blocks down until the block placement removes/destroys the light "entity"

But I will say that world

[2015-09-17 12:42] Keridos commented on #51
Should not happen, I reset the blocks internal name from that version so all lights should get destroyed. In the newer version I added in a check if setting the block to air failed and if it does the light should update itself until it is able to do that.

[2015-09-18 00:58] spannerman79 commented on #51
:+1: The newer build (114) works like a charm.

For reference the glass blocks were AE2's [Quartz Glass](http://ae-mod.info/Quartz-Glass/) blocks that the light "cones" were shining through.

[2015-09-18 16:19] Keridos commented on #51
Hm what is your issue?

[2015-09-20 04:39] Keridos commented on #51
This is most likely a client side desync. I have no idea where it comes from though.

[2015-09-25 21:57] Nukeer9578 opened #52 "[Feature Request]: New Lamp Types with Minechem integration"
Hello, I would like to share some ideas for your mod:
Maybe you could make [discharge tube](https://en.wikipedia.org/wiki/Gas-filled_tube) lamps, that can be [filled with (Minechem?) gases](https://en.wikipedia.org/wiki/Gas-filled_tube#Gases_in_use) using a new machine (maybe something like a "tube filler"). For example have a neon-filled tube emit a red light ( like a redstone torch / Colored Lig

[2015-09-25 21:59] Keridos commented on #52
ColoredLightscore is dead. No colored lights possible. I will consider adding the gas lamps, but non colored only until a new maintained mod for colored lights is made.

[2015-09-25 22:04] Nukeer9578 commented on #52
Sorry, I haven't really been up to date. Thank you for considering the gas lamps though. Keep working on that great mod!

[2015-09-30 20:40] Sianore opened #54 "In Game Wiki text chat message"
Is there any way to disable the chat message when you load into a world that reads:

The mod flood lights is supporting In-Game wiki Mod However, In-Game Wiki isn't installed [Download Latest]

I have seen other mods have a config option to disable this but I cant seem to find this on this mod.

[2015-10-07 05:20] DoomRater commented on #34
Was this fixed?  I had a crash on a server with NEI disabled that reads very similar to this crash report, using Modsauce 2.  Running NEI should not be a requirement to run this mod...

[2015-10-07 10:50] Keridos commented on #34
If your crashlog does not mention floodlights, the issue should not be with my mod. And yes, this was fixed months ago.

[2015-10-07 16:17] DoomRater opened #55 "Crash with NEI disabled on server"
Server is Modsauce 2 (v2.2.3.0) running floodlights 0.6.1-74. Crash below:
---- Minecraft Crash Report ----
// Why did you do that?

Time: 9/29/15 11:40 AM
Description: Exception in server tick loop

cpw.mods.fml.common.LoaderException: java.lang.NoSuchMethodError: de.keridos.floodlights.compatability.ModCompatibility.hideNEIItems()V
	at cpw.mods.fml.common.LoadController.transition(LoadController

[2015-10-07 18:56] Keridos commented on #55
That function only gets called when the server/client has NEI installed. If it crashes with that error then it is not my mods fault but some other mod. But btw. this version is pretty old, it may not even have the fixes for that.

[2015-10-07 19:00] #55 closed

[2015-10-07 19:00] Keridos commented on #55
@DoomRater Use this version: https://www.ironhide.de/jenkins/job/FloodLights/116/

[2015-10-07 19:45] DoomRater commented on #55
Aha I didn't think one month out of date was that far behind!  Awesome, now
I just need to poke modsauce 2 to update to this version.

On Wed, Oct 7, 2015, 3:00 PM Keridos <notifications@github.com> wrote:

[2015-10-10 23:00] #54 closed

[2015-11-01 18:25] L-Clouds commented on #51
For what it's worth, I was just coming back to Minecraft and tried 1.7.10-1.0.2-43 and had problems with illumination not completely updating, too (phantom light that got left behind when switching modes).  I tried in single player, both with and without FastCraft...

The last version I'd tried before was way back at 1.7.10-0.3.7-51 and it doesn't have this problem.  So, something that was changed

[2015-11-26 18:33] Keridos commented on #51
Weird thing I figured out. In my dev env it bugs too, though apparently the blocks lighting up are air. Seems to be a client desync as rejoining the world / rejoining the server seems to fix it.

Still have the code for the client side phantom light debug tool. Works (but a bit buggy still) and shows the entities. Gonna leave this issue open for a later build.

[2016-02-05 01:59] Keridos opened #56 "Feature: Grow Lights"
Grow Light that lights up a block under it and accelerates plant growth 2 blocks below it.

[2016-02-05 02:29] #51 closed

[2016-02-21 20:33] Voker57 opened #57 "Client light desync after switching off/changing floodlight mode"
If you turn off the floodlight or change its mode, some 'light sources' still stay. Fixed by reconnecting to server. Screenshot: http://dump.bitcheese.net/files/ideposo/2016-02-21_22.31.13.png

Minecraft 1.7.10, Floodlights 1.1.1, other mods: industrialcraft, project red, buildcraft, computercraft.

[2016-02-21 21:27] Keridos commented on #57
This is some kind of MC/Forge bug, Galacticraft has the same because for some reason light values do not correctly update on block sets and even after block updates. No idea how to fix this, same for the Galacricraft Dev if I remember correctly.

[2016-03-05 00:56] Voker57 opened #58 "floodlights disconnect themselves from ic2 energy network"
After some time running (don't think it's some specific action that triggers it) floodlights stop receiving energy from ic2 energy network they are attached to. Restarting the server solves the problem, as does replacing floodlights.

Also, this message appears in server log on mod load:

[code]

[2016-03-05 01:09] Keridos commented on #58
How often does this happen?

[2016-03-05 01:20] Voker57 commented on #58
it appears to be random, sometimes you play whole day and it's fine, sometimes after several minutes.

Also, the message actually appears when bug manifests, not on load.

[2016-03-05 01:21] Keridos commented on #58
Do you use vanilla forge or cauldron?

[2016-03-05 01:22] spannerman79 commented on #58
@Keridos there is also Thermos - a fork of KCauldron to consider as well

[2016-03-05 01:24] Voker57 commented on #58
vanilla Forge10.13.4.1614. Here's my mod list:

`ComputerCraft@1.75,flansmod@4.10.0,malisiscore@1.7.10-0.14.1,NotEnoughItems@1.0.3.74,ProjRed|Compatibility@4.7.0pre12.95,ForgeRelocation@0.0.1.4,CCTweaks@0.3.0.2,BuildCraft|Silicon@7.1.14,MrTJPCoreMod@1.1.0.33,Forge@10.13.4.1614,IronChest@6.0.60.741,ProjRed|Expansion@4.7.0pre12.95,ForgeMicroblock@1.2.0.345,BuildCraft|Core@7.1.14,CodeChickenCore@1.0.

[2016-03-05 01:35] Keridos commented on #58
Kind of weird, I am pretty much doing the IC2 energy stuff by the book. Gonna poke some IC2 Dev to see if I made a mistake there.
Maybe its some issue with forge though, can you test with the recommended forge build (10.13.4.1558)?

[2016-03-12 17:02] #56 closed

[2016-03-21 11:49] Voker57 commented on #58
no, some of these mods require newer forge. could try floodlights alone though

[2016-05-24 06:12] Lartza opened #61 "IGWNotifierEnabled has incorrect config file key"
In src/main/java/de/keridos/floodlights/handler/ConfigHandler.java IGWNotifierEnabled should have an unique key for the config file, not just the one you forgot the change when copy pasting :P

[2016-06-04 23:04] #61 closed

[2016-06-08 07:35] Keridos commented on #61
Thanks btw, totally forgot that.

[2016-06-14 12:19] polarbear316 opened #62 "JEI and Floodlights not working together"
Testing the 1.9.4 beta, FloodLights-1.9.4-1.2.3-139.jar, independently both work, but when used together get NullPointer, ClassNotFound exceptions.

Forge Installed: 1.9.4-12.17.0.1954
JEI Versions Tested With:
1.9.4-3.6.3.212
1.9.4-3.6.3.207
1.9.4-3.6.3.206
1.9.4-3.6.3.205
1.9.4-3.6.3.204

[log.txt](https://github.com/Keridos/FloodLights/files/313851/log.txt)

[2016-06-14 12:21] Keridos commented on #62
this doesnt make any sense, the class is there in the jar, have you tried redownloading it?

[2016-06-14 12:23] polarbear316 commented on #62
Yeap, just did it again to make sure. Gives same exception stack trace

[2016-06-14 12:25] Keridos commented on #62
Hm, might need to update my JEI version, seems that something has changed recently, gonna fix this and post a new build in the next 20 minutes.

[2016-06-14 15:19] Granik24 commented on #62
Same crash at 1.9.4.
http://hastebin.com/vovakoguhe.vhdl

[2016-06-14 22:22] Keridos commented on #62
Fixed it, builds should be live in a few minutes. Sorry it took some longer. Interesting though that the first report for that came way later.

[2016-06-14 22:22] #62 closed

[2016-06-14 22:46] OhiraKyou opened #63 "Sneak right clicking a florescent light toggles its state twice"
Minecraft 1.9.4
Forge 1.9.4-12.17.0.1954
FloodLights 1.9.4-1.2.5-142

Sneak right clicking a florescent light toggles its state twice (for example, from false to true and then back to false).

[2016-06-14 23:02] Keridos commented on #63
fixed in the next uploaded file at curseforge, thanks for the quick report.

[2016-06-14 23:02] #63 closed

[2016-06-15 19:09] polarbear316 opened #64 "IC2 integration"
Was testing out the Electric lights and noticed I couldn't add any IC2 energy items to the lights. Then looked at your code and seen all, or well most, of the IC2 code commented out. Are you taking IC2 support out, waiting for a release build, or just haven't got to that yet?

Built a version using IC2's [2.5.24-ex19](http://jenkins.ic2.player.to/job/IC2_19/) 1.9.x build and seems to be working fo

[2016-06-16 10:10] Keridos commented on #64
Gonna add that in, thanks, did not know IC2 already had aworking 1.9 port.

[2016-06-22 22:01] Keridos opened #65 "1.9.4 Fix Wrenching"

[2016-07-02 09:23] ruyanve opened #66 "Unofficial Unity styled texture addon"
So I've been using this mod since forever and always hated the textures (no offense).
A while ago I made some simple replacements using Unity assets and asked the guys to have a look at your textures for a more professional approach,
In the meantime anyone who wants, may of course use the ones I made:
http://imgur.com/a/Gmskn

Cheers

[2016-07-02 09:27] ruyanve opened #67 "Tesla support"
A couple of mods will support Tesla now (Forestry, Mekanism) and I was wondering if you could have a look at it as well?
https://github.com/Darkhax-Minecraft/Tesla

I am running FL 1.2.5-143 in 1.10 with Forge 2000 now and no issues so far btw.

Thank you, I love this mod!

[2016-07-13 01:56] Keridos commented on #66
Question, who has the rights to those textures? If possible I would ask if I can incorporate them into the main mod and replace my textures. My textures to be honest always were not that good since I am quite terrible at drawing, so no offense taken.

[2016-07-13 01:57] Keridos opened #68 "1.9.4 Crash with EnderIO"
http://pastebin.com/wiNgNEa7

[2016-07-13 02:40] spannerman79 commented on #66
@Keridos https://github.com/CyanideX/Unity perhaps

[2016-07-13 07:58] ruyanve commented on #66
I wrote Cyanide a message on twitter, hopefully he'll come by and give a green light... or even better someone on his crew has a look at the textures, because mine are not really good enough as default textures.

[2016-07-13 17:10] CyanideX commented on #66
You're free to use any of our Unity assets. :)

[2016-07-14 03:18] Hastling opened #69 "[1.10.2][Forge 2011][1.9.4-1.2.5-143] Config File Not Generating"

[2016-07-14 03:35] Hastling commented on #68
confirmed to also happen in 1.10.2 http://pastebin.com/9tHLtHNS

[2016-07-14 10:19] #69 closed

[2016-07-15 17:46] Keridos commented on #68
Now just to find out what actually causes this.

[2016-07-15 18:33] Keridos commented on #68
Unreported exception thrown!
java.lang.ClassCastException: de.keridos.floodlights.tileentity.TileEntityPhantomLight cannot be cast to crazypants.enderio.conduit.IConduitBundle
	at crazypants.enderio.conduit.AbstractItemConduit.onItemUse(AbstractItemConduit.java:90) ~[AbstractItemConduit.class:?]
	at net.minecraft.item.ItemStack.onItemUse(ItemStack.java:157) ~[ItemStack.class:?]
	at net.minecraft.c

[2016-07-15 21:36] #68 closed

[2016-07-15 21:36] #64 closed

[2016-07-15 22:42] Keridos opened #70 "Feature: Disguise Blocks"

[2016-07-27 16:54] Keridos commented on #58
Can you try this: https://jenkins.ironhide.de/job/FloodLights-1.7.10/136/ ?

[2016-08-02 21:40] RainbowGravity opened #71 "Issue: Walking into a grow light from underneath causes texture issues"
Basically, the black and purple no texture thing covers the entire screen. Also happens when you fall  through the light. (intended?)

[2016-08-04 15:53] Keridos opened #72 "RFTools Item Filter Machine pull items not working"
With EnderIO 1.10.2-3.0.1.81_beta and RFTools 5.11 and forge 1.10.2-12.18.1.2022 you cannot pull items via machine auto pull from an item filter from RFTools that is set to allow access to that item on a side. Might be because of either missing ISidedInventory support or capability support in one of both mods, gonna post an issue on RFTools if needed as well.

[2016-08-04 15:54] #72 closed

[2016-08-04 18:59] Keridos commented on #71
You can walk through them and that is intended. The texture bug is not though, it might be possible to just do not render it from the inside maybe.

[2016-08-04 19:01] #58 closed

[2016-08-06 12:22] RainbowGravity commented on #71
Newest Version on 1.10.2

[2016-08-06 17:52] Keridos commented on #71
You should never report latest or newest version for bug reports. Please always tell the modders the exact version on which forge version.

[2016-08-11 15:02] #65 closed

[2016-08-11 15:02] #67 closed

[2016-08-11 15:02] #71 closed

[2016-08-14 05:04] crawln45 opened #73 "Allow EIO wireless charger to power lights."
Thought allowing the ender IO's wireless charger to power the lights might be a nice. Not sure if it's possible or not. or possibly adding in a wireless power source to keep from having to run conduit/other through the roof everywhere.

[2016-08-14 16:13] Keridos commented on #73
I have been actually thinking about that too and it already is on my planned features :)

[2016-10-13 19:35] ElvenChaos opened #74 "CoFH API in FL Causes Crash"
This one is a little specific, but when Flood Lights, Botania, and Refined Storage are all in the same modpack, there is a crash relating to the CoFH API that is included in the FL .jar

If any one of the three mods are removed, then there is no crash.

Crash Logs:
http://pastebin.com/piJ6FsvN

[2016-10-14 03:08] Keridos commented on #74
My best guess is that someone else is using an inofficial version that differs from my version of the API. My version is pretty much the same as RedstoneFluxed used (and that is a direct port from the 1.8 API with pretty much 0 changes codewise except for two lines). Currently I have no idea what could cause this and I am sure that other mods have the same API as I provide inside of their JARs.

[2016-10-20 17:52] AnZaNaMa opened #75 "Can't change mode?"
So I've got a floodlight and I've been trying to change the mode of it for forever. I have forestry, enderio, ic2, etc installed as well and I've been trying to use all the wrenches to change the mode of the light. Looking at the code, some of the mods wrench codes were commented out, but the EnderIO one is in there for sure. The only problem is that all the wrenches rotate the block when you righ

[2016-10-20 21:24] NightmareElmo opened #76 "Light Overlap causes huge lag"
When two floodlights face each other on the same y-level (i.e. they overlap) causes huge fps drops and stutters.

[2016-11-19 15:43] Keridos commented on #75
Test this build please: https://jenkins.ironhide.de/job/FloodLights-1.10.2/7/

[2016-12-19 09:08] mallrat208 opened #77 "UV Floodlight Damage Source"
The UV Floodlight currently deals 'Cactus' type damage and shows the Cactus death message "X was pricked to death".

It would be nice if it could have it's own DamageSource. It would open up the ability for the player to find a way to either reduce or eliminate the damage they take from UV Lamps if they for some reason need to be under them be it from your mod or another, It would let you to have

[2017-01-03 20:58] SylveonBottle opened #78 "Floodlight causes random crash"
No idea what is wrong, how this is happening, or how to reproduce. All I know is that the server seems to crash when it is lagging, and the crash log says it's by floodlight.

[crash-2017-01-03_14.46.45-server.txt](https://github.com/Keridos/FloodLights/files/683214/crash-2017-01-03_14.46.45-server.txt)

[2017-04-03 20:10] TomberWolf opened #79 "Invisible lightsource"
In some cases the lightsource stucks if you break the floodlight block.
MC 1.10.2
![javaw 2017-04-03 22-08-35-448](https://cloud.githubusercontent.com/assets/9993839/24629743/6682ef84-18ba-11e7-9e6d-91263f2fc7d8.jpg)

[2017-06-04 14:36] FSDel opened #80 "Grow Lights causing server log spam"
A player recently started using floodlights, in particular, grow lights.

I am now getting significant log spam of the following lines:

de.keridos.floodlights.util.GeneralUtil isBlockValidGrowable
INFO: blockcangrow: true

Versions:
Minecraft 1.10.2
FloodLights-1.9.4-1.2.7-145

[2017-06-05 17:57] Keridos commented on #80
fixed in latest release.

[2017-06-05 17:57] #80 closed

[2017-06-05 17:57] Keridos commented on #79
This mod is inactive, I am working on a rewrite.

[2018-08-27 08:25] drzpk commented on #79
Since 1.10.2 most of floodlights' logic has been rewritten, so this should be fixed.

[2018-08-27 11:55] drzpk commented on #57
This issue still occurs in 1.12.2. It may be caused by updating too many light-emitting blocks simultaneously. I'have added a workaround though.

[2018-08-27 11:55] #57 closed

[2018-08-27 11:55] #75 closed

[2018-08-27 15:03] Keridos commented on #75
@IlynPayne you can push changes to here now and should be able to administer the issue tracker. I will setup a build for this mod on jenkins.ironhide.de

[2018-08-27 15:46] drzpk commented on #75
@Keridos OK, thanks.

[2018-08-29 14:03] drzpk commented on #74
This issue is out-of-date: since 1.12.2 FloodLights uses Forge Energy API.

[2018-08-29 14:03] #74 closed

[2018-09-01 11:47] #77 closed

[2018-09-01 22:11] mallrat208 commented on #77
Awesome 👍

[2018-09-02 17:04] Keridos opened #81 "Dependency Managment and Travis."
Currently 1.12 EnderIO is not on any maven. Could we somehow make this work properly? I am in touch with the EnderIO Devs to figure out a solution for this.

[2018-09-02 17:27] drzpk commented on #81
Actually I have already removed EnderIO dependency and Jenkins works fine since then. However, the most recent build on Travis has failed due to some unresolved dependencies ([HERE](https://travis-ci.org/Keridos/FloodLights/builds/423348112?utm_source=github_status&utm_medium=notification)). I'm going to look into it soon.

[2018-09-02 20:05] Keridos commented on #81
https://github.com/SleepyTrousers/EnderIO/pull/4856

And I will take a look at Jenkins, apparently they deprecate the old service integration. Moved it to the new github app. Lets see if this works in the future.

[2018-09-09 19:29] ExplodingONC opened #82 "crash on tabcomplete"
[2018-09-10-2.log](https://github.com/Keridos/FloodLights/files/2364562/2018-09-10-2.log)

Cause a crash when I'm typing a command and press Tab to auto complete it.
This happens both in local worlds and on a server after I installed this mod, and go back to normal after I removed it.
The game log is attached above.
I really like this mod, and I hope that this problem is going to be fixed soon.

[2018-09-09 20:47] Keridos commented on #82
We do not register any commands as far as I know. We could remove the IGW notifier but I doubt it has anything to do with it.

[2018-09-10 05:33] ExplodingONC commented on #82
It is really strange I think, this mod do not have built-in commands, but it did crash some how.
And I don't think that there is a conflict with other mods, because only this mod alone can still cause the crash.
I'm using Forge 14.23.4.2705 on Minecraft 1.12.2, and I hope this information can help you.

[2018-09-15 19:59] #82 closed, assigned to drzpk

[2018-09-15 20:08] drzpk commented on #82
@Keridos
Actually, it did. Apparently API has changed since the last time the notifier was updated.

@ExplodingONC
The issue should be now fixed. You can download the most recent artifact from [Jenkins](https://jenkins.ironhide.de/job/Keridos%20Mods/job/FloodLights-1.12/8/).

[2018-09-15 23:32] Keridos commented on #81
EnderIO has merged the commit, so you can get the newer versions (nightly builds) via their maven.

[2018-09-15 23:32] #81 closed, assigned to Keridos

[2018-09-16 03:19] ExplodingONC commented on #82
The crash issue is now solved by the 1.3.2 update, but this update seems to no longer work with sponge server. The error log is attached. Do you have any ideas?
[server log.txt](https://github.com/Keridos/FloodLights/files/2386267/server.log.txt)

[2018-09-16 07:37] drzpk commented on #82
@ExplodingONC
This is actually caused by one of the previous commits (most likely [e4f45a1](https://github.com/Keridos/FloodLights/commit/e4f45a19f16c03a6911e22e07f71bbcc2cc947c2)). I'll look into it.

[2018-09-19 22:11] Wolf68k opened #83 "Grow light acts like straight flood light"
While trying out the different lights in creative, and with the debug tool. When I placed a grow light and turned it on it lit up like the standard flood light does with a straight beam, even the debug showed it that way. When I turned off the grow light, the light was still there. And the light it still there even after the grow light block is removed.
Included a [screen shot](https://imgur.com/a

[2018-09-19 22:57] Keridos commented on #83
https://github.com/Keridos/FloodLights/blob/1.12.2/src/main/java/de/keridos/floodlights/tileentity/TileEntityGrowLight.java#L21

[2018-09-20 16:26] drzpk commented on #82
@ExplodingONC
The issue with Sponge is now solved. Try the most recent build from Jenkins.

[2018-09-20 16:41] drzpk commented on #83
@Keridos
That doesn't prove anything, besides, the next line sets the range to 1.

@Wolf68k
You may experience such issues if you're using version from CurseForge, which is contains some issues. I'll upload a fresh version there soon. In the meantime, you can download the most recent build from Jenkins (link in the project README), which should be free of such bugs.

[2018-09-20 17:12] Wolf68k commented on #83
I tried FloodLights-1.12.2-1.3.2-9 (sorry I forgot to mention I was using FloodLights-1.12.2-1.3.1-1 before).
That fixed the grow light problem, it also forces the lever to be either placed on the grow light or on a block directly next to the light for it to work. So where I showed where I originally had the lever in my screenshot, that no longer works.

There is still however the light that was l

[2018-09-20 20:18] drzpk commented on #83
@Wolf68k
I'll see what's wrong.

I've made modifications to minimize such cases. But nonetheless, periodical checks to light sources have been added, so the orphaned ones should disappear over time.

[2018-09-21 03:07] ExplodingONC commented on #82
Everything is functioning properly now, thanks for your updates.

[2018-10-01 16:59] drzpk commented on #83
@Wolf68k
But isn't that a correct behavior?
![grow_light](https://user-images.githubusercontent.com/27144202/46303081-2e336600-c5ab-11e8-9c27-f74cd385dfdf.png)

Anyhow, issue reported in this thread is fixed, if you found another one, report it in a new thread.

[2018-10-01 16:59] #83 closed, assigned to drzpk

[2018-10-01 17:04] drzpk commented on #78
Classes from the stack trace have been almost completely rewritten in 1.12.2, making this crashlog pretty much useless. If you're experiencing similar crashes in 1.12.2, feel free to open a new issue.

[2018-10-01 17:04] #78 closed

[2018-10-01 17:10] SeasonalFerret commented on #78
I'd complain about the practice of just leaving bug reports open until they're invalid, but I've really moved on from Minecraft at this point.

[2018-10-01 17:21] drzpk commented on #78
@SylveonBottle
Well, this mod had been inactive almost 2 years until I took it over. And the first thing I did after that was to port the mod to 1.12.2 and rewrite some core logic. And that fixed some old issues (and possibly created new ones).

[2018-10-09 16:45] drzpk commented on #76
This bug no longer occurs since 1.12.2.

[2018-10-09 16:45] #76 closed

[2018-10-19 18:30] mariojuggernaut22 opened #84 "Newer versions crashes minecraft at atartup"
Hello. Everytime I start up Minecraft with newer versions of the floodlight mod, it instantly crashes the game at startup. How could I fix this?
[debug.log](https://github.com/Keridos/FloodLights/files/2496926/debug.log)
[latest.log](https://github.com/Keridos/FloodLights/files/2496927/latest.log)

[2018-10-19 19:43] drzpk commented on #84
@mariojuggernaut22
Is Floodlights mod the only variable here? Does game start normally when you remove it?

[2018-10-19 20:22] mariojuggernaut22 commented on #84
It doesn't...   Do you know what is at fault?

On Fri, Oct 19, 2018 at 3:43 PM Dominik Rzepka <notifications@github.com>
wrote:

[2018-10-19 20:58] Keridos commented on #84
That seems to be OpenComputers crashing. not Floodlights.

[2018-10-19 20:58] #84 closed, assigned to drzpk

[2018-11-02 14:18] mariojuggernaut22 opened #85 "Phantom Light Crashes Wires."
Hello, everytime a phantom light covers a duct or wire on my cable it crashes my  game. What can I do to fix it.
[crash-2018-11-02_10.04.25-client.txt](https://github.com/Keridos/FloodLights/files/2542792/crash-2018-11-02_10.04.25-client.txt)

[2018-11-04 19:38] drzpk commented on #85
I can't reproduce the crash. Can you provide a screenshot with the exact configuration causing it?

Also, check if the problem still occurs in [the most recent version](https://jenkins.ironhide.de/job/Keridos%20Mods/job/FloodLights-1.12/11/) of the mod installed.

[2018-11-11 10:32] drzpk commented on #85
@mariojuggernaut22

[2018-11-19 19:01] mariojuggernaut22 commented on #85
[image: 2018-11-06_06.47.43.png] WHen one of those faded lights hit a
cable, it crashes the game.

On Sun, Nov 11, 2018 at 6:32 AM Dominik Rzepka <notifications@github.com>
wrote:

[2018-11-19 19:32] drzpk commented on #85
@mariojuggernaut22

Apparently attaching images via e-mail doesn't work. Could you attach it again here, in this thread?

[2019-01-06 12:31] somehundred opened #86 "Crash when placing redstone dust in electric flood light."
---- Minecraft Crash Report ----
// Why did you do that?

Time: 1/6/19 2:22 PM
Description: Updating screen events

java.lang.NoClassDefFoundError: cofh/redstoneflux/api/IEnergyContainerItem
	at de.keridos.floodlights.util.GeneralUtil.isItemStackValidElectrical(GeneralUtil.java:76)
	at de.keridos.floodlights.client.gui.container.ContainerElectricFloodlight$1.func_75214_a(ContainerElectricFloodligh

[2019-01-06 21:00] Keridos commented on #86
Ah yes, there probably should be a check before that if CoFHCore is
actually loaded.

On 06.01.2019 13:31, andris86 wrote:

[2019-01-07 14:56] somehundred commented on #86
Looks like a crash occurs when any wrong item is placed into flood light

[2019-01-11 17:55] #86 closed, assigned to drzpk

[2019-02-01 17:27] Blue-Beaker opened #87 "[suggestion]Better light blocking mechanics"
In the current version of the mod(1.3.2-12), ME cables and a lot of other Transparent blocks(lever,vanilla glass,etc) blocks the light from the floodlight.
Could you adjust the light blocking mechanics to allow the floodlight to pierce through the transparent blocks?(don't remove old mechanics, make them configurable)
And also add a type of floodlight that is expensiver(may need nickel or platinum

[2019-02-01 17:45] Blue-Beaker commented on #85
[crash-2019-02-02_01.30.18-client.txt](https://github.com/Keridos/FloodLights/files/2822650/crash-2019-02-02_01.30.18-client.txt)
Crashes when placed a ThermalDynamics duct in the light from this mod's floodlight even if the light is turned off.

[2019-02-01 17:50] Blue-Beaker commented on #85
I'm using FloodLights-1.12.2-1.3.2-12.jar, and if the light is turned off and re-entered the world, the duct won't crash.

[2019-02-01 20:19] #85 closed, assigned to drzpk

[2019-02-02 19:41] #66 closed

[2019-07-07 13:33] collwee opened #88 "minecraft freeze logs talk about floodlight"
https://gist.github.com/collwee/ea41a38b78e3c41a21f2273e547dfb07

i don't have a crashlog my minecraft was frozen
around the moment below until the end of the log above where i have killed minecraft
whit the task manager

[08:41:56] [ic2-poolthread-3/WARN] [ic2.EnergyNet]: Tile de.keridos.floodlights.tileentity.TileEntityElectricFloodlight@65f874e (dim 500: -1515/163/-1521) removal without registr

[2019-07-15 14:52] drzpk commented on #88
Are you sure this lag is caused by FloodLights?
The logs you're referring to:
[code]
are *just* minor warnings and I don't believe they are responsible for the lag. There are lots of exceptions related to saving world data though and that would be my guess.

Try to start the game without FloodLights and if the lag persists, this mod didn't cause it. Otherwise provide necessary information that wil

[2019-07-21 10:36] Korynkai opened #89 "Feature Request: Colored Lights using Mirage/Albedo"
Upon testing two different lighting methods for our modpack around the same time (this Floodlights mod, and the Colored Lamp inside Computronics), I noticed that Computronics is dependent on the rendering mod Albedo, and Computronics uses this to cast colored light if that mod is present, much as ColoredLightCore once did.

I figured, as I had noticed the developer of this mod had stated "ColoredL

[2019-07-28 13:25] drzpk commented on #89
How do you think this feature would work? Right now floodlight blocks emit light beam from just one side, remaining sides use "normal" textures, so colored blocks wouldn't look similar to - for example - colorful lamp from Computronics.

Do you want the ability to paint whole floodlights or just glowing part using computer interface? You need to be more specific.

[2019-07-30 03:45] TwiliDiamondOcelot opened #90 "Future Request: Allow Galacticraft Batteries to Power Floodlights"
Galacticraft adds a normal battery, a low energy output nuclear battery, and a creative only Infinite battery. It would be nice to see this mod support Galacticraft's batteries.

[2019-08-07 17:32] Korynkai commented on #89
At first, I had thought the mechanics were somewhat already there as the lights are dyeable and I was looking at the note at https://www.curseforge.com/minecraft/mc-mods/floodlights

I was originally assuming it would be fairly simple to make the light project the color it was dyed to; however it occurred to me, that would not be a very flexible design at all as you wouldn't be able to dye the flo

[2019-08-11 11:45] drzpk commented on #90
All electric Floodlights support batteries from Galacticraft. I just check this using Galacticraft Core 1.12.2-4.0.2.229.

If you're using an older version of Galacticraft, try to update it and then let me know if the problem still exists.

[2019-08-11 11:45] #90 closed, assigned to drzpk

[2019-09-09 08:45] slappertins commented on #73
Hey uh just wondering if this is still going to be a feature in the future?

[2019-11-25 16:24] Josh65-2201 opened #91 "[Feature request] Be able to set the buffer for light in the config"

[2019-12-05 19:50] drzpk commented on #91
Feature has been implemented, config option name is *energyBufferSize*.

[2019-12-05 19:50] #91 closed, assigned to drzpk

[2019-12-05 19:50] drzpk commented on #70
Implemented in 1.4.0

[2019-12-05 19:50] #70 closed

[2019-12-05 20:32] Josh65-2201 commented on #91
Thanks

[2019-12-11 19:04] YuRaNnNzZZ opened #92 "java.lang.NoClassDefFoundError: javafx/util/Pair when right-clicking any block from the mod"
[crash-2019-12-11_21.59.42-server.txt](https://github.com/Keridos/FloodLights/files/3952102/crash-2019-12-11_21.59.42-server.txt)

Forge 14.23.5.2847, FloodLights 1.12.2-1.4.0-16 (latest CurseForge stable release)

[2019-12-11 20:23] #92 closed, assigned to nobody

[2019-12-11 20:27] drzpk commented on #92
Thanks for the report, the issue has been fixed in the [most recent version](https://www.curseforge.com/minecraft/mc-mods/floodlights/files/2841199).

[2020-02-29 20:52] Josh65-2201 commented on #73
I would like this too just wondering if there's been an update on this.

[2020-03-15 17:07] #73 closed

[2020-03-22 12:08] Josh65-2201 opened #93 "Floodlights not being powered by EnderIO wireless charger."
Using other lights like the one EnderIO has it works but does nothing with any of the floodlights.

Versions:
Minecraft 1.12.2
Flood lights 1.4.1-18
EnderIO: 5.1.55

[2020-04-09 18:41] #93 closed, assigned to drzpk

[2020-04-11 11:17] fkrisi11 opened #94 "[1.12.2] Shift clicking items into floodlights causes problems"
If you shift click any item into the non-electric floodlight, it freezes the game.
I'm not sure if it happens with only non-fuel items or every item however.
I'm also not sure if this happens with other kinds of lamps.
A user reported this problem. He tried multiple items.

Please look into this ^^

[2020-04-13 12:26] drzpk commented on #94
@fkrisi11
I was unable to reproduce this issue on any floodlight in the most recent mod version. Can you provide a crashlog?

[2020-04-13 13:46] fkrisi11 commented on #94
Trying to find out how to reproduce the issue, but I found a duplication glitch with flood lights meanwhile. Get something like a chest. An items that stacks. Try to shift click the item into a non-electric light. Now you have double the item. Just keep shift clicking.

[2020-04-13 13:48] fkrisi11 commented on #94
In fact it duplicates everything that can stack. But I couldn't make my game freeze though :\

[2020-04-13 19:58] fkrisi11 commented on #94
I could not replicate the freezing bug... sorry about that :/

But hey, at least I found that dupe bug haha

[2020-04-15 18:05] drzpk commented on #94
@fkrisi11
I can't reproduce this item duplication issue as well. 😶

I've tried everything:
* shift-clicking player's inventory slot
* shift-clicking floodlight's slots
* shift-clicking on a floodlight block
* \+ the above options but with different game mode, full and empty player's inventory, fuel and non-fuel items.

Need more details to narrow down this issue hunt:
1. What's your game mode?
2.

[2020-04-15 18:24] fkrisi11 commented on #94
So here it is in a 9MB gif.
I am not in creative, I don't have cheats on in JEI.
I do have MouseTweaks installed. (But I don't think this is a problem)

For every duplication I just shift click stone from the player's inventory into the non-electric FloodLight.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/26310365/79373435-d8d56480-7f56-11ea-9d15-39d26fc84556.gif)

[2020-04-17 18:24] fkrisi11 commented on #94
@IlynPayne  Is there anything else I can do to help you guys with finding out the problem?

[2020-04-17 19:44] drzpk commented on #94
@fkrisi11 No, thanks. I just didn't have time to look into this issue, hence the delay.

[2020-04-17 19:52] fkrisi11 commented on #94
I understand. Just want to help as much as possible ^^

[2020-04-18 19:52] drzpk commented on #94
I was finally able to find the cause. Turns out shift-clicking didn't work properly only for the first and second hotbar slots - that's why I was couldn't reproduce this bug until you provided the GIF (I didn't use these slots).

Anyway, thanks for the patience, new version has been a;ready uploaded to CurseForge.

[2020-04-18 19:52] #94 closed, assigned to drzpk

[2020-04-18 20:21] fkrisi11 commented on #94
Thank you so so so much ^^

[2020-06-08 03:52] joan-teriihoania opened #95 "Client crash"
**Context**
I was trying to insert an electrical lamp in the slot of a growlight on my server.

**Issue**
My client crashed instantly.

**Crash report**
[code]

[2020-06-08 16:55] #95 closed, assigned to nobody

[2020-09-17 11:39] IITFA opened #96 "Lack of documentation, can't figure out how to use."
Just posting this to report some things I've noticed and some issues I've run into.

1) I can't seem to figure out how to work the lights and can't find any documentation on exactly how. It would be presumed it must be straightforward, but it's not apparently. I place an electric floodlight and a non-electric floodlight and can't figure out how to make either light up.

2) There probably be some o

[2021-01-18 16:47] Josh65-2201 commented on #96
Redstone makes it light up or Shift right click to invert them.
You use coal for non electric ones and electric ones you place a power source next to them or use cable.
You need a wrench to change the mode.

[2021-01-18 16:49] Josh65-2201 opened #97 "Camouflage on sub type blocks doesn't work"
If I use concrete or wool it will always show the white version.

Minecraft: 1.12.2
Mod: 1.4.1-22

[2021-05-11 19:46] #97 closed, assigned to nobody